h1 {
    margin-bottom: 0;
}

nav {
    a {
        text-decoraion: none;
        margin-top: 10px;
        display: inline-block;
        background-color: #e8e8e8;
        color: #3d3d3d;
        border-radius: 4px;
    }
    a:hover {
        color: whie;
        background-color: #42545C;
    }
    a:active {
        background-color: black;
    }
}